<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="map.css">

    <section class="container-fluid px-0">
        <div class="row align-items-center mt-5">
            <div class="card mx-auto w-85 border-0">
                <div id="headingGroup" class="text-center d-none d-lg-block">
                    <h2 class="">School-based Physical Fitness Testing of California School Districts</h2>
                </div>
                <!-- <div id="headingGroup" class="text-center d-none d-lg-block">
                <h4>Legend: The lighter, the higher percentage (better); the darker, the lower percentage (worse)</h4>
            </div> -->
            </div>
        </div>

        <% if (messages.length > 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= messages[0] %>
            </div>
            <% } %>

                <div class="row align-items-center mt-3">
                    <div class="card mx-auto w-80">
                        <div class="input-group m-2">
                            <form class="row g-3 col-12 align-items-center" id="display_options" action="/california"
                                method="GET">
                                <label class="col">Display Options</label>
                                <div class="col">
                                    <select class="form-select" name="item" id="item">
                                        <option value="" selected>--Fitness Assessment--</option>
                                        <option value="aero" <%=item==="aero" ? 'selected' : '' %>>Aerobic Capacity
                                        </option>
                                        <option value="body" <%=item==="body" ? 'selected' : '' %>>Body Composition
                                        </option>
                                        <option value="abd" <%=item==="abd" ? 'selected' : '' %>>Abdominal Strength
                                        </option>
                                        <option value="trunk" <%=item==="trunk" ? 'selected' : '' %>>Trunk Extension
                                            Strength</option>
                                        <option value="ub" <%=item==="ub" ? 'selected' : '' %>>Upper Body Strength
                                        </option>
                                        <option value="flex" <%=item==="flex" ? 'selected' : '' %>>Flexibility</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="grade" id="grade">
                                        <option value="" selected>--Grade Level--</option>
                                        <option value="5" <%=grade==="5" ? 'selected' : '' %>>Elementary (5th Grade)
                                        </option>
                                        <option value="7" <%=grade==="7" ? 'selected' : '' %>>Middle School (7th Grade)
                                        </option>
                                        <option value="9" <%=grade==="9" ? 'selected' : '' %>>High School (9th Grade)
                                        </option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="year" id="year">
                                        <option value="" selected>--School Year--</option>
                                        <option value="1999" <%=year==="1999" ? 'selected' : '' %>>1998~1999</option>
                                        <% for (let i=2001; i<2020; i++) { %>
                                            <option value="<%= i %>" <%=year===i.toString() ? 'selected' : '' %>><%=
                                                    (i-1).toString() %>~<%= i.toString() %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Confirm</button>
                                </div>
                            </form>
                        </div>
                        <div id="sorting-info-alert"></div>
                    </div>
                    <div id="selection-alert"></div>
                    <div class="row align-items-center mt-5">
                        <br>
                        <div id="map"></div>
                    </div>

                    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
                        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
                        crossorigin="anonymous"></script>
                    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
                        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
                    <script src="/node_modules/leaflet-geoserver-request/src/L.Geoserver.js"></script>
                    <script>
                        const grade_str = '<%- grade %>';
                        const item_str = '<%- item %>';
                        const year_str = '<%- year %>';

                    </script>
                    <script src="map.js"></script>
    </section>