<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="map.css">

    <section class="container-fluid px-0">
        <div class="row align-items-center mt-5">
            <div class="card mx-auto w-85 border-0">
                <div id="headingGroup" class="text-center d-none d-lg-block">
                    <h2 class="">School-based Physical Fitness Testing of California School Districts</h2>
                </div>
                <!-- <div id="headingGroup" class="text-center d-none d-lg-block">
                <h4>Legend: The lighter, the higher percentage (better); the darker, the lower percentage (worse)</h4>
            </div> -->
            </div>
        </div>

        <% if (messages.length> 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= messages[0] %>
            </div>
            <% } %>

                <div class="row align-items-center mt-3">
                    <div class="card mx-auto w-80">
                        <div class="card-header"><strong>Display Options</strong></div>
                        <div class="card-block">
                            <form id="display_options" action="/california" method="POST">
                                <div class="form-group row mt-2 align-items-center">
                                    <div class="col-md-4">
                                        <select class="form-select" name="item" id="item">
                                            <option value="" selected><strong>--Fitness Assessment--</strong></option>
                                            <option value="aero" <%=item==="aero" ? 'selected' : '' %>>Aerobic
                                                Capacity
                                            </option>
                                            <option value="body" <%=item==="body" ? 'selected' : '' %>>Body
                                                Composition
                                            </option>
                                            <option value="abd" <%=item==="abd" ? 'selected' : '' %>>Abdominal
                                                Strength
                                            </option>
                                            <option value="trunk" <%=item==="trunk" ? 'selected' : '' %>>Trunk
                                                Extension
                                                Strength</option>
                                            <option value="ub" <%=item==="ub" ? 'selected' : '' %>>Upper Body
                                                Strength
                                            </option>
                                            <option value="flex" <%=item==="flex" ? 'selected' : '' %>>Flexibility
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" name="grade" id="grade">
                                            <option value="" selected><strong>--Grade Level--</strong></option>
                                            <option value="5" <%=grade==="5" ? 'selected' : '' %>>Elementary (5th
                                                Grade)
                                            </option>
                                            <option value="7" <%=grade==="7" ? 'selected' : '' %>>Middle School (7th
                                                Grade)
                                            </option>
                                            <option value="9" <%=grade==="9" ? 'selected' : '' %>>High School (9th
                                                Grade)
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" name="year" id="year">
                                            <option value="" selected><strong>--School Year--</strong></option>
                                            <option value="1999" <%=year==="1999" ? 'selected' : '' %>>1998~1999
                                            </option>
                                            <% for (let i=2001; i<2020; i++) { %>
                                                <option value="<%= i %>" <%=year===i.toString() ? 'selected' : '' %>
                                                    ><%= (i-1).toString() %>~<%= i.toString() %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row mt-2 mb-2 align-items-center justify-content-end">
                                    <div class="col">
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                            data-bs-target="#countyModal">Filter by County & School District
                                            <strong>(Required)</strong></button>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                    </div>
                                </div>

                                <div class="modal fade" id="countyModal" tabindex="-1"
                                    aria-labelledby="countyModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel">Filter by County & School
                                                    District <strong>(Required)</strong></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group row mt-2 mb-2 align-items-center">
                                                    <label><strong>Instructions:</strong></label>
                                                </div>
                                                <div class="form-group row mt-2 mb-2 align-items-center">
                                                    <label>The counties are sorted alphabetically. School districts are
                                                        listed under their corresponding counties. It is required to
                                                        select at least 1 school district. After selecting, please click "Confirm" to proceed.</label>
                                                </div>
                                                <div class="form-group row mt-2 mb-2 align-items-center">
                                                    <label>Due to HTTP request limitations, the maximum number of selections allowed is 384. This does not affect the "Select All" button below to select every school district.</label>
                                                </div>
                                                <br>

                                                <div class="form-group row mt-2 mb-2 align-items-center">
                                                    <div class="col"><button type="button" class="btn btn-primary"
                                                            onclick="selectEverything()">Select
                                                            All</button></div>
                                                    <div class="col-auto"><button type="button"
                                                            class="btn btn-secondary"
                                                            onclick="deSelectEverything()">Deselect
                                                            All</button></div>
                                                </div>

                                                <div class="accordion" id="countyAccordion">

                                                    <div class="accordion-item mt-2 mb-2">
                                                        <h2 class="accordion-header" id="alameda-heading">
                                                            <button class="accordion-button" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#alameda-collapse" aria-expanded="true"
                                                                aria-controls="alameda-collapse">
                                                                Alameda
                                                            </button>
                                                        </h2>
                                                        <div id="alameda-collapse"
                                                            class="accordion-collapse collapse show"
                                                            aria-labelledby="alameda-heading">
                                                            <div class="accordion-body">
                                                                <% for (let j=0; j<sdi[0].length; j++) { %>
                                                                    <div class="form-check form-check-inline">
                                                                        <input
                                                                            class="<%= 'form-check-input ' + 'alameda-checkbox' %>"
                                                                            type="checkbox" name="<%= sdi[0][j][0] %>"
                                                                            id="<%= sdi[0][j][0] %>">
                                                                        <label class="form-check-label"
                                                                            for="<%= sdi[0][j][0] %>">
                                                                            <%= sdi[0][j][1] %>
                                                                        </label>
                                                                    </div>
                                                                    <% } %>
                                                                        <div class="row mt-2 mb-2 align-items-center">
                                                                            <div class="col"><button type="button"
                                                                                    class="btn btn-primary"
                                                                                    onclick="selectAll('alameda')">Select
                                                                                    All in Alameda County</button></div>
                                                                            <div class="col-auto"><button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    onclick="deSelectAll('alameda')">Deselect
                                                                                    All in Alameda County</button></div>
                                                                        </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <% for (let i=1; i<58; i++) { %>
                                                        <div class="accordion-item mt-2 mb-2">
                                                            <h2 class="accordion-header"
                                                                id="<%=names[i].replace(/\s/g, '').toLowerCase() + '-heading' %>">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="<%='#' + names[i].replace(/\s/g, '').toLowerCase() + '-collapse' %>"
                                                                    aria-expanded="false"
                                                                    aria-controls="<%=names[i].replace(/\s/g, '').toLowerCase() + '-collapse' %>">
                                                                    <%=names[i] %>
                                                                </button>
                                                            </h2>
                                                            <div id="<%=names[i].replace(/\s/g, '').toLowerCase() + '-collapse' %>"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="<%=names[i].replace(/\s/g, '').toLowerCase() + '-heading' %>">
                                                                <div class="accordion-body">
                                                                    <% for (let j=0; j<sdi[i].length; j++) { %>
                                                                        <div class="form-check form-check-inline">
                                                                            <input
                                                                                class="<%= 'form-check-input ' + names[i].replace(/\s/g, '').toLowerCase() + '-checkbox' %>"
                                                                                type="checkbox"
                                                                                name="<%= sdi[i][j][0] %>"
                                                                                id="<%= sdi[i][j][0] %>">
                                                                            <label class="form-check-label"
                                                                                for="<%= sdi[i][j][0] %>">
                                                                                <%= sdi[i][j][1] %>
                                                                            </label>
                                                                        </div>
                                                                        <% } %>
                                                                            <div
                                                                                class="row mt-2 mb-2 align-items-center">
                                                                                <div class="col"><button type="button"
                                                                                        class="btn btn-primary"
                                                                                        onclick="selectAll('<%=names[i].replace(/\s/g, '').toLowerCase() %>')">Select
                                                                                        All in <%=names[i] %>
                                                                                            County</button></div>
                                                                                <div class="col-auto"><button
                                                                                        type="button"
                                                                                        class="btn btn-secondary"
                                                                                        onclick="deSelectAll('<%=names[i].replace(/\s/g, '').toLowerCase() %>')">Deselect
                                                                                        All in <%=names[i] %>
                                                                                            County</button></div>
                                                                            </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>

                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                    data-bs-dismiss="modal">Save and Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="checkboxStr" id="checkbox_str">
                                <input type="hidden" name="checkedLength" id="checked_length">
                                <input type="hidden" name="selectedCounties" id="selected_county">

                            </form>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <br>
                    <div id="map"></div>
                </div>

                <script src="https://code.jquery.com/jquery-3.6.3.min.js"
                    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
                <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
                    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
                <script src="/node_modules/leaflet-geoserver-request/src/L.Geoserver.js"></script>
                <script src="parseform.js"></script>
                <script src="selectall.js"></script>
                <script>
                    const grade_str = '<%- grade %>';
                    const item_str = '<%- item %>';
                    const year_str = '<%- year %>';
                    const checkbox = '<%- checkboxStr %>';
                    const checked_length = '<%- checkedLength %>';
                </script>
                <script src="map.js"></script>
    </section>