<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="map.css">

    <section class="container-fluid">
        <div class="row align-items-center mt-5">
            <div class="card mx-auto w-85 border-0">
                <div id="headingGroup" class="text-center d-none d-lg-block">
                    <h3 class="">School-based Physical Fitness Testing of Orange County School Districts</h3>
                </div>
                <!-- <div id="headingGroup" class="text-center d-none d-lg-block">
                <h4>Legend: The lighter, the higher percentage (better); the darker, the lower percentage (worse)</h4>
            </div> -->
            </div>
        </div>

        <% if (item==="body" ) { %>
            <div class="row align-items-center mt-3">
                <div class="col-6 offset-3">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">ERROR</h4>
                        <p>Sorry, student body composition data currently not available. Showing aerobic capacity data
                            with the same year and grade.</p>
                    </div>
                </div>
            </div>
            <% } %>
                <div class="row align-items-center mt-3">
                    <div class="card mx-auto w-80">
                        <div class="card-header">Display Options</div>
                        <div class="card-block">
                            <form id="display_options" action="/map" method="GET">
                                <div class="form-group row mt-2 align-items-center">
                                    <div class="col-md-4">
                                        <select class="form-select" name="item" id="item">
                                            <option value="" selected>--Fitness Assessment--</option>
                                            <option value="aero" <%=item==="aero" ? 'selected' : '' %>>Aerobic
                                                Capacity
                                            </option>
                                            <option value="body" <%=item==="body" ? 'selected' : '' %>>Body
                                                Composition
                                            </option>
                                            <option value="abd" <%=item==="abd" ? 'selected' : '' %>>Abdominal
                                                Strength
                                            </option>
                                            <option value="trunk" <%=item==="trunk" ? 'selected' : '' %>>Trunk
                                                Extension
                                                Strength</option>
                                            <option value="ub" <%=item==="ub" ? 'selected' : '' %>>Upper Body
                                                Strength
                                            </option>
                                            <option value="flex" <%=item==="flex" ? 'selected' : '' %>>Flexibility
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" name="grade" id="grade">
                                            <option value="" selected>--Grade Level--</option>
                                            <option value="5" <%=grade==="5" ? 'selected' : '' %>>Elementary (5th
                                                Grade)
                                            </option>
                                            <option value="7" <%=grade==="7" ? 'selected' : '' %>>Middle School (7th
                                                Grade)
                                            </option>
                                            <option value="9" <%=grade==="9" ? 'selected' : '' %>>High School (9th
                                                Grade)
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" name="year" id="year">
                                            <option value="" selected>--School Year--</option>
                                            <option value="1999" <%=year==="1999" ? 'selected' : '' %>>1998~1999
                                            </option>
                                            <% for (let i=2001; i<2020; i++) { %>
                                                <option value="<%= i %>" <%=year===i.toString() ? 'selected' : '' %>
                                                    ><%= (i-1).toString() %>~<%= i.toString() %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row mt-2 align-items-center">
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                            data-bs-target="#countyModal">Filter by County</button>
                                    </div>
                                </div>

                                <div class="modal fade" id="countyModal" tabindex="-1"
                                    aria-labelledby="countyModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Filter by County</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group row mt-2 align-items-center">
                                                    <label>County</label>
                                                </div>
                                                <div class="form-group row mt-2 align-items-center">
                                                    <div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                                Orange
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="flexCheckChecked" checked>
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                                Los Angeles
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mt-2 mb-2 align-items-center">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                    </div>
                                </div>



                            </form>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <br>
                    <div id="map"></div>
                </div>

                <script src="https://code.jquery.com/jquery-3.6.3.min.js"
                    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
                <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
                    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
                <script src="/node_modules/leaflet-geoserver-request/src/L.Geoserver.js"></script>
                <script src="L.TileLayer.BetterWMS.js"></script>
                <script>
                    var map = L.map('map').setView([33.67, -117.83], 10)
                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);

                    var stylename = 'element:Perc';
                    if ('<%- grade %>' == '5' || '<%- grade %>' == '7' || '<%- grade %>' == '9') {
                        stylename += '<%- grade %>';
                    }
                    else {
                        stylename += '5'
                    }

                    if ('<%- item %>' == 'aero') {
                        stylename += 'a_' + '<%- year %>'.substring(2, 4);
                    }
                    else if ('<%- item %>' == 'body') {
                        stylename += 'a_' + '<%- year %>'.substring(2, 4);
                    }
                    else {
                        stylename += 'a_19';
                    }

                    const debugStr = '<%- item %> ' + '<%- grade %> ' + '<%- year %>'
                    // console.log(debugStr);
                    console.log(stylename);

                    var wmsLayer = L.Geoserver.wms("http://127.0.0.1:8080/geoserver/wms", {
                        layers: "schooldistrict:OrangeCounty_combined",
                        styles: "schooldistrict:school_districts",
                        env: stylename
                    });
                    wmsLayer.addTo(map);
                    // console.log(wmsLayer);

                    var legend = L.control({ position: 'bottomleft' });

                    legend.onAdd = function (map) {
                        var div = L.DomUtil.create('div', 'info legend');
                        div.innerHTML += '<img src="legend.png" alt="legend">';
                        return div;
                    };
                    legend.addTo(map);

                    map.on('click', function (e) {
                        var popLocation = e.latlng;
                        var latlngStr = '(' + e.latlng.lat.toFixed(3) + ', ' + e.latlng.lng.toFixed(3) + ')';
                        var BBOX = map.getBounds()._southWest.lng + "," + map.getBounds()._southWest.lat + "," + map.getBounds()._northEast.lng + "," + map.getBounds()._northEast.lat;
                        var WIDTH = map.getSize().x;
                        var HEIGHT = map.getSize().y;
                        var X = Math.floor(map.layerPointToContainerPoint(e.layerPoint).x);
                        var Y = Math.floor(map.layerPointToContainerPoint(e.layerPoint).y);
                        var URL = 'http://localhost:8080/geoserver/schooldistrict/wms?SERVICE=WMS&VERSION=1.1.1&REQUEST=GetFeatureInfo&LAYERS=schooldistrict:OrangeCounty_combined&QUERY_LAYERS=schooldistrict:OrangeCounty_combined&propertyName=CountyName,DistrictNa,' + stylename.substring(8) + '&STYLES=&BBOX=' + BBOX + '&FEATURE_COUNT=5&HEIGHT=' + HEIGHT + '&WIDTH=' + WIDTH + '&FORMAT=image%2Fpng&INFO_FORMAT=text%2fhtml&SRS=EPSG%3A4326&X=' + X + '&Y=' + Y;
                        var popup = L.popup()
                            .setLatLng(popLocation)
                            .setContent("<iframe src='" + URL + "' frameborder='0'></iframe>")
                            .openOn(map);
                    });
                </script>
    </section>